<section class="section" id="collection">

<h2 class="section-title">New Arrivals</h2>

<div class="grid">

{% for shoe in shoes %}

<div class="card">

<img src="{{shoe.image}}" alt="{{shoe.name}}">

<h3>{{shoe.name}}</h3>

<span style="color: var(--asics-blue); font-weight:800; font-size:1.3rem; display:block; margin:15px 0;">
₹{{shoe.price}}
</span>

<button class="btn-shop add-to-cart"
data-id="{{shoe.id}}"
data-name="{{shoe.name}}"
data-price="{{shoe.price}}"
style="padding:12px 30px;font-size:0.8rem;letter-spacing:1px;">
Add to Cart
</button>

</div>

{% endfor %}

</div>

</section>

